<header id="blog-header" class="main-header style5 style5withstyle7 responsive-header">
    <!--Start Header upper style2-->
    <div class="header-upper-style5">
        <div class="outer-container clearfix">
           
            <div class="header-upper-left clearfix">
                <div class="logo">
                    <a href="index.html"><img src="images/resources/logo-6.png" alt="Awesome Logo" title=""></a>
                </div>
            </div>
            
            <div class="header-upper-middle clearfix">
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu style4 navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle mar-right0" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="dropdown"><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Creative Agency</a></li>
                                        <li><a href="index-2.html">SEO</a></li>
                                        <li><a href="index-3.html">Portfolio</a></li>
                                        <li><a href="index-4.html">Design Studio</a></li>
                                        <li><a href="index-5.html">App Landing Page</a></li>
                                        <li><a href="index-6.html">Freelancer</a></li>
                                    </ul>
                                </li>
                                <li><a href="services.html">Services</a></li>
                                <li class="dropdown"><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="about.html">About Company</a></li>
                                        <li><a href="faq.html">Faq’s</a></li>
                                        <li class="dropdown"><a href="#">Shop</a>
                                            <ul>
                                                <li><a href="shop.html">Our Products</a></li>
                                                <li><a href="shop-single.html">Products Single</a></li>
                                                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="account.html">My Account</a></li>
                                            </ul>    
                                        </li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="pricing.html">Pricing & Plans</a></li>
                                        <li><a href="maintenance.html">Maintenance</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                        <li><a href="error-page.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Portfolio</a>
                                    <ul>
                                        <li class="dropdown"><a href="#">Classic</a>
                                            <ul class="from-right">
                                                <li><a href="portfolio-v1.html">Classic Box</a></li>
                                                <li><a href="portfolio-v2.html">Classic Box With Caption</a></li>
                                                <li><a href="portfolio-v3.html">Classic Masonry</a></li>
                                                <li><a href="portfolio-v4.html">Fullwidth Grid</a></li>
                                                <li><a href="portfolio-v5.html">Fullwidth Metro</a></li>
                                            </ul>    
                                        </li>
                                        <li><a href="portfolio-v6.html">Creative</a></li>
                                        <li><a href="portfolio-v7.html">Modern</a></li>
                                        <li class="dropdown"><a href="#">Portfolio Single</a>
                                            <ul class="from-right">
                                                <li><a href="portfolio-single-v1.html">Classic</a></li>
                                                <li><a href="portfolio-single-v2.html">Modern</a></li>
                                            </ul>    
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown current"><a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Classic</a></li>
                                        <li><a href="blog-v2.html">Blog Creative</a></li>
                                        <li><a href="blog-v3.html">Blog List</a></li>
                                        <li><a href="blog-v4.html">Blog Modern</a></li>
                                        <li><a href="blog-single.html">Single Post</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>                        
                    <!-- Main Menu End-->
                </div>     
            </div>
            
            <div class="header-upper-right clearfix">
                <div class="header-right-content">
                    <div class="language-switcher style4">
                        <div id="polyglotLanguageSwitcher">
                            <form action="#">
                                <select id="polyglot-language-options">
                                    <option id="en" value="en" selected>En</option>
                                    <option id="fr" value="fr">Fr</option>
                                    <option id="de" value="de">Ger</option>
                                    <option id="it" value="it">Ita</option>
                                    <option id="es" value="es">Spa</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="cart-box style2">
                        <a href="shoping-cart.html"><span class="icon-cart"><span class="number">0</span></span></a>
                    </div>
                    <div class="outer-search-box">
                        <div class="seach-toggle"><i class="fa fa-search"></i></div>
                        <ul class="search-box">
                            <li>
                                <form method="post" action="index.html">
                                    <div class="form-group">
                                        <input type="search" name="search" placeholder="Search Here" required>
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
    <!--End Header Upper style2--> 
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container">
            <div class="clearfix">
                <!--Logo-->
                <div class="logo float-left">
                    <a href="index.html" class="img-responsive"><img src="images/resources/logo-6.png" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="right-col float-right">
                    <!-- Main Menu -->
                    <nav class="main-menu style4 navbar-expand-lg">
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown"><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Creative Agency</a></li>
                                        <li><a href="index-2.html">SEO</a></li>
                                        <li><a href="index-3.html">Portfolio</a></li>
                                        <li><a href="index-4.html">Design Studio</a></li>
                                        <li><a href="index-5.html">App Landing Page</a></li>
                                        <li><a href="index-6.html">Freelancer</a></li>
                                    </ul>
                                </li>
                                <li><a href="services.html">Services</a></li>
                                <li class="dropdown"><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="about.html">About Company</a></li>
                                        <li><a href="faq.html">Faq’s</a></li>
                                        <li class="dropdown"><a href="#">Shop</a>
                                            <ul>
                                                <li><a href="shop.html">Our Products</a></li>
                                                <li><a href="shop-single.html">Products Single</a></li>
                                                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="account.html">My Account</a></li>
                                            </ul>    
                                        </li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="pricing.html">Pricing & Plans</a></li>
                                        <li><a href="maintenance.html">Maintenance</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                        <li><a href="error-page.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Portfolio</a>
                                    <ul>
                                        <li class="dropdown"><a href="#">Classic</a>
                                            <ul class="from-right">
                                                <li><a href="portfolio-v1.html">Classic Box</a></li>
                                                <li><a href="portfolio-v2.html">Classic Box With Caption</a></li>
                                                <li><a href="portfolio-v3.html">Classic Masonry</a></li>
                                                <li><a href="portfolio-v4.html">Fullwidth Grid</a></li>
                                                <li><a href="portfolio-v5.html">Fullwidth Metro</a></li>
                                            </ul>    
                                        </li>
                                        <li><a href="portfolio-v6.html">Creative</a></li>
                                        <li><a href="portfolio-v7.html">Modern</a></li>
                                        <li class="dropdown"><a href="#">Portfolio Single</a>
                                            <ul class="from-right">
                                                <li><a href="portfolio-single-v1.html">Classic</a></li>
                                                <li><a href="portfolio-single-v2.html">Modern</a></li>
                                            </ul>    
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown current"><a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Classic</a></li>
                                        <li><a href="blog-v2.html">Blog Creative</a></li>
                                        <li><a href="blog-v3.html">Blog List</a></li>
                                        <li><a href="blog-v4.html">Blog Modern</a></li>
                                        <li><a href="blog-single.html">Single Post</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                </div>
            </div>
        </div>
    </div>
    <!--End Sticky Header-->
</header>
