{% load static %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/jquery.enllax.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>



<script src="{% static 'assets/language-switcher/jquery.polyglot.language.switcher.js' %}"></script>
<script src="{% static 'assets/timepicker/timePicker.js' %}"></script>                       
<script src="{% static 'assets/html5lightbox/html5lightbox.js' %}"></script>
<!-- jQuery ui js -->
<script src="{% static 'assets/jquery-ui-1.11.4/jquery-ui.js' %}"></script>



<!-- thm custom script -->
<script src="{% static 'js/custom.js' %}"></script>