<div class="single-sidebar pdbottom40">
    <div class="title">
        <h3>Tag Clouds</h3>
    </div>
    <ul class="popular-tag clearfix">
        <li><a href="#">Beauty</a></li>
        <li><a href="#">Classic</a></li>
        <li><a href="#">Creative</a></li>
        <li><a href="#">Drinks & Food</a></li>
        <li><a href="#">Designs</a></li>
        <li><a href="#">Featured</a></li>
        <li><a href="#">Free Style</a></li>
        <li><a href="#">Grid</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Travel</a></li>
    </ul>      
</div> 