<div class="single-sidebar">
    <div class="title">
        <h3>Trending Post</h3>
    </div>
    <ul class="trending-post">
        <li>
            <div class="img-holder">
                <img src="images/sidebar/trending-post-1.jpg" alt="Awesome Image">
                <div class="overlay-style-one"></div>
                <div class="view-button">
                    <a href="#"><span class="flaticon-eye-open"></span></a>
                    <p>5k</p>
                </div>
            </div>
            <div class="title-holder">
                <span>June 28, 2019</span>
                <h5 class="post-title"><a href="#">Tips for small scale business</a></h5>
            </div>
        </li>
        <li>
            <div class="img-holder">
                <img src="images/sidebar/trending-post-2.jpg" alt="Awesome Image">
                <div class="overlay-style-one"></div>
                <div class="view-button">
                    <a href="#"><span class="flaticon-eye-open"></span></a>
                    <p>2k</p>
                </div>
            </div>
            <div class="title-holder">
                <span>May 10, 2019</span>
                <h5 class="post-title"><a href="#">Get creativity in your advertisement</a></h5>
            </div>
        </li>
        <li>
            <div class="img-holder">
                <img src="images/sidebar/trending-post-3.jpg" alt="Awesome Image">
                <div class="overlay-style-one"></div>
                <div class="view-button">
                    <a href="#"><span class="flaticon-eye-open"></span></a>
                    <p>7k</p>
                </div>
            </div>
            <div class="title-holder">
                <span>feb 06, 2019</span>
                <h5 class="post-title"><a href="#">Why your business needs website?</a></h5>
            </div>
        </li>
       
    </ul>
</div>