{% extends 'pages/base.html' %}
{% load static %}
{% block content %}


<!--Start single blog post style5-->
<div class="blog-post">
    <div class="single-blog-post-style5">
        <div class="img-holder">
            <img src="images/blog/blog-v3-1.jpg" alt="Awesome Image">
        </div>
        <div class="text-holder">
            <div class="categories">
                <h6>Marketing, Design</h6>
            </div>
            <h2 class="blog-title"><a href="blog-single.html">Customization and Personalization of Online Cosmetics</a></h2>
            <div class="meta-box">
                <div class="author-info">
                    <div class="img-box">
                        <img src="images/blog/author-v2-1.png" alt="Awesome Image">
                    </div>
                    <div class="title-box">
                        <h6>Rubin Santro</h6>
                    </div>
                </div>
                <div class="meta-info">
                    <ul>
                        <li><a href="#"><span class="icon-chat"></span>6 Comments</a></li>
                        <li><a href="#"><span class="icon-calendar"></span>June 28, 2019</a></li>
                    </ul>
                </div>
            </div>
            <div class="text">
                <p>Obligations of business will frequently occur sed that pleasures have to be repudiateds and our annoyances matters to this principle...</p>
            </div>
            <div class="bottom">
                <div class="reamore">
                    <a class="btn-two" href="blog-single.html">Read More</a>
                </div>
                <div class="post-share">
                    <p>Share this post <a href="#"><span class="icon-network"></span></a></p>    
                </div>
            </div> 
        </div>
    </div>
</div>
<!--End single blog post style5-->


{% endblock content %}

